<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%if logged_in? && current_user.role == "instructor" %>
      <div class="leftside">
        <p id="notice"><%= notice %></p>
        
        <h1>Student Roster</h1>
      
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th style="padding:0 15px;">Email</th>
              <th style="padding:0 15px;">Role</th>
              <th style="padding: 0 15px;">Grade</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% User.all.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td style="padding:0 15px;"><%= user.email %></td>
                <td style="padding:0 15px;"><%= user.role %></td>
                <td style="padding: 0 25px;"><span class="badge badge-primary badge-pill">0%</span></td>
                <td style="padding:0 5px;"><%= link_to 'Show', user %></td>
                <td style="padding:0 5px;"><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
             
            <% end %>
          </tbody>
           <%= link_to 'Add Student', new_user_path, class: "btn btn-success", id: "add-student-btn" %>
        </table>

        <br/>
        
     </div>
    <% end %>
    </div>
    <div class="col-md-6">
      <div class="rightside">
        <p id="notice"><%= notice %></p>
    
        <h1>Presentations</h1>

        <table>
          <thead>
            <tr>
              <th>Topic</th>
              <th style="padding:0 15px;">Date</th>
              <th style="padding:0 15px;">Grade</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @presentations.each do |presentation| %>
              <tr>
                <td><%= presentation.topic %></td>
                <td style="padding:0 15px;"><%= presentation.date %></td>
                <td style="padding:0 25px;"><span class="badge badge-primary badge-pill">0%</span></td>
                <td style="padding:0 5px;"><%= link_to 'Show', presentation %></td>
                <%if logged_in? && current_user.role == "instructor" %>
                <td style="padding:0 5px;"><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
                <td><%= link_to 'Delete', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                 <%end%>
              </tr>
              <%= link_to 'New Presentation', new_presentation_path, class: "btn btn-success", id: "add-presentation-btn" if current_user.role == "instructor"%>
            <% end %>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>

