<p id="notice"><%= notice %></p>

<h1>Presentations</h1>
<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @presentations.each do |presentation| %>
      <tr>
        <td><%= presentation.topic %></td>
        <td><%= presentation.date %></td>
        <td><%= link_to 'Show', presentation %></td>
        <%if logged_in? && current_user.role == "instructor" %>
        <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
        <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <td><%= link_to 'Leave Feedback', new_feedback_path%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<br>


<table>
  <thead>
  <%if current_user.role == "student"%>
    <tr>
      <th>My Presentations</th>
      <th colspan="3"></th>
    </tr>
    <%end%>
  </thead>
<tbody>


<%@presentations.each do |presentation| %>
  <tr>
      <%if logged_in? && current_user.name == presentation.assigned_to %>
      <td><%= presentation.topic %></td>
      <td><%= presentation.date %></td>
      <%end%>
      <%end%>
      </tr>
      <% Feedback.all.each do |feedback| %>
        <tr>
        <%if logged_in? && (current_user.name == feedback.presentation_id || current_user.role=="instructor") %>
          <td><%= link_to 'Show Feedback from ' + feedback.submitted_by  , feedback %></td>
          <%end%>
        </tr>
        <%end%>
  </tbody>
</table>



<br>

<%= link_to 'New Presentation', new_presentation_path if current_user.role == "instructor"%>
