<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="leftside">
        <p id="notice"><%= notice %></p>
        <h1>Presentation</h1>
        <p>
          <strong>Topic:</strong>
          <%= @presentation.topic %>
        </p>

        <p>
          <strong>Date:</strong>
          <%= @presentation.date %>
        </p>

        <p>
          <strong>Presentor:</strong>
          <%= @presentation.assigned_to %>
        </p>
        <%if logged_in? && current_user.role == "instructor" %>
          <p>
            <strong>Grade:</strong>
            <%= @presentation.grade %>
          </p>
        <% end %>
         <% if logged_in? && (current_user.role == "instructor") %>
        <%= link_to 'Edit', edit_presentation_path(@presentation) %> |
        <% end %>
        <%= link_to 'Back', presentations_path,class: "btn btn-primary", id: "presentation-back" %>

      </div>
    </div>
    <% if logged_in? && ((current_user.email == @presentation.assigned_to) || (current_user.role == 'instructor')) %>
    <div class="col-md-6">
      <div class="rightside">
        <p id="notice"><%= notice %></p>
        <h1>Student Feedback</h1>
        <ol>
        <% Feedback.all.each do |feedback|%>
            <% if feedback.presentation_id == @presentation.assigned_to && @presentation.id == feedback.id%>
              <li><%= feedback.content%></li>
            <% end %>
        <% end %>
        </ol>
      </div>
    </div>
    <% end %>
  </div>
</div>
</html>
