<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @presentation.topic %>
</p>

<p>
  <strong>Date:</strong>
  <%= @presentation.date %>
</p>

<p>
  <strong>Presentor:</strong>
  <%= @presentation.assigned %>
</p>


<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
